/* Stylesheet for the 'eea facetednavigation' */
/*
*/

.facetedResult { 
  margin-bottom: 10px;
  overflow: hidden;
}
.facetedResultTitle {
  font-family: 'Ubuntu',sans-serif;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: -0.05em;
  color: rgb(26, 117, 186);
}
.facetedResultDescription {
  font-family: 'Ubuntu',sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5em;
  color: rgb(65, 65, 65);
}
.facetedResult img {
    float: right;
}
.faceted-noborder {
  background:transparent none repeat scroll 0 0;
  border: medium none;
}

.faceted-form {
  padding: 1em 0 0 0;
  margin: 0;
  width: auto;
}

.faceted-widget input, .faceted-widget label {
    float: left;
}

.faceted-textwidget-place-current, .faceted-textwidget-place-all {
    clear: both;
}

.faceted-textwidget-place-current label, .faceted-textwidget-place-all label {
    margin-left: 10px;
}

/* Areas
*/
#top-area {
}

#center-and-left-area {
}

#right-area {
}

#center-area {

}

#left-area {
}

#center-top-area {
}

#center-bottom-area {
}

#bottom-area {
  clear: both;
}

.right-area-js {
}

.left-area-js {
}

/* End Areas */

.faceted-clear {
  clear: both;
}

.faceted-left-column div.faceted-text-widget input[type=submit] {
  float: right;
}

.faceted-right-column div.faceted-text-widget input[type=submit] {
  float: right;
}

.faceted-left-column div.faceted-text-widget input[type=text] {
    width: auto;
}

.faceted-right-column div.faceted-text-widget input[type=text] {
}

.faceted-left-column div.faceted-select-widget select{
}

.faceted-right-column div.faceted-select-widget select{
}

.faceted-left-column div.faceted-resultsperpage-widget select{
}

.faceted-right-column div.faceted-resultsperpage-widget select{
}

.faceted-left-column div.faceted-sorting-widget select{
}

.faceted-right-column div.faceted-sorting-widget select{
}

#faceted-form fieldset {
  margin: 0.5em;
  padding: 1em 0.5em 0.5em 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#content .widget-fieldset legend {
  margin-bottom: 0;
  font-size: 150%;
  font-weight: bold;
  border: 0;
  width: auto;
  line-height: 1em;
}


/* Loading image
---------------- */

.faceted_loading {
  text-align: center;
}

/* Sections
=========== */

.faceted-section-header {
}

#faceted-form .ui-widget {
  font-size: 1em;
}

#faceted-form .ui-helper-reset {
  font-size: 1em;
}

#faceted-form .ui-accordion .ui-accordion-content {
  padding: 0px;
  overflow: hidden;
  border-width: 0;
  border-style: none;
}

/* Inactive state
*/
#faceted-form .ui-accordion .ui-state-default {
  border: none;
  background: none;
  background-color: #95b229;
  margin: 0 0.5em;
}

#faceted-form .ui-accordion .ui-state-default a {
  color: #ffffff;
  font-weight: bold;
}

#faceted-form .ui-accordion .ui-state-default a:hover {
  border: none;
  color: #e9efcd;
}

/* Active state
*/
#faceted-form .ui-accordion .ui-state-active {
  border: none;
  background: none;
  background-color: #e9efcd;
  margin: 0 0.5em;
}

#faceted-form .ui-accordion .ui-state-active a{
  color: #8e004d;
  font-weight: bold;
}

#faceted-form .ui-accordion .ui-state-active a:hover{
  border: none;
  cursor: text;
}

/* Lock - Unlock
*/
.faceted-widget-locked legend{
  color: #CCC;
}

.faceted-lock-overlay {
  background: none;
}

.faceted-widget-loading {
  background-image:url(../../++resource++faceted_images/ajax-loader-small.gif);
  background-position:95% 1.5em;
  background-repeat:no-repeat;
}

.faceted-widget-loading-msie {
  background-position: 95% 2.5em;
}
/* Errors
========= */
.faceted-widget-error {
  display: none;
}

#faceted-form .faceted-sections-buttons {
  float: right;
  margin-right: 0.5em;
}

#faceted-form .faceted-sections-buttons a {
  display: none;
  color: #95B229;
}

.eea-preview-items:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
